.App{
  display: flex;
}
.text{
  width: 50%;
  height: 100vh;
  padding: 20px;
  font-size: 2rem;
  outline: none;
  background-color: gray;
  color: white;
}

.markdown{
  width: 50%;
  height: 100vh;
  padding: 20px;

}
